

<button type="button" class="btn btn-outline-primary">
    <nav>
        <a routerLink="team" routerLinkActive="active">Team Register</a>
    </nav>
</button> 
<router-outlet></router-outlet>
<div  class="card-deck">
    <div class="card bg-warning">
        <div class="card-body text-center">
          <div>
            <button type="button" (click)='getAllList()' class="btn btn-outline-primary" > Team List  </button>
           </div>
        </div>
      </div>
</div>
<p>Team Details show:</p>
<div  *ngIf="dataShow">

    <div *ngFor="let teams of g">
        <div class="card" style="width: 18rem;">       
             <ul style="color: cyan;">
                 <li >{{teams.teamName}}</li>
                 <li>{{teams.country}}</li>
             </ul>
         <div class="card-body">
             <ul>
                <li (click)="onSelect(teams)">
                <button type="button" class="btn btn-light">JOIN TEAM</button>
               </li>
             </ul>
         </div>
        </div>  
       <br>

    </div>
</div>

