<p>orglogin works!</p>



<div *ngIf="!loggedIn" class="py-5">
    <div  class="row">
      <div class="col-md-6 mx-auto">
        <span class="anchor" id="formLogin"></span>
  
        <!-- form card login -->
        <div style="background-color: crimson;" class="card rounded-0">
          <div class="card-header">
            <h3 class="mb-0">Organizor Login</h3>
          </div>
          <div style="border-color: violet;" class="card-body">
            <form class="form">
              <div class="form-group">
                <label for="uname1">Username</label>
                <input type="text" class="form-control rounded-0" [(ngModel)]="logindetails.userEmail" name="userEmail" required>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control rounded-0" [(ngModel)]="logindetails.password" name="password" required>
              </div>
              <button type="button" (click)="userLogin()" class="btn btn-success float-right">Login</button>
            </form>
          </div>
          <!--/card-block-->
        </div> 
        <!-- /form card login -->
  
      </div>
  
  
    </div>
  </div>