


<button type="button" class="btn btn-outline-primary">
<nav>
    <a routerLink="ongoing" routerLinkActive="active">ongoing</a>
</nav>
</button>
<button type="button" class="btn btn-outline-primary">
<nav>
    <a routerLink="upcoming" routerLinkActive="active">upcoming</a>
</nav>
</button>
<button type="button" class="btn btn-outline-primary">
<nav>
    <a routerLink="past" routerLinkActive="active">past</a>
</nav>
</button>

<div>
    <ul>
        <li *ngFor="let e of events">
            <p>{{ e.eventName }}</p>
        </li>
    </ul>
</div>



