


<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        
        <div class="card-body">
          <h5 class="card-title">Upper Rank Tickets</h5>
          <p class="card-text">Approx. 26€ Day / 52€ Weekend (all three days)</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Guaranteed seating in the upper ranks </li>
          <li class="list-group-item">Access to OPEN signing sessions</li>
          <li class="list-group-item">Access to IEM Expo </li>
        </ul>
        <div class="card-body">
          <li (click)="onSelect()">
            <button type="button" class="btn btn-light">Book Ticket</button>
        </li>
          
        </div>
      </div>
  </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        
        <div class="card-body">
          <h5 class="card-title">Lower Rank Tickets</h5>
          <p class="card-text">Approx. 35€ Day / 80€ Weekend (all three days)</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">	Guaranteed seating in the lower ranks </li>
          <li class="list-group-item">	Access to OPEN signing sessions</li>
          <li class="list-group-item">	Access to IEM Expo</li>
        </ul>
        <div class="card-body">
          <li (click)="onSelect()">
            <button type="button" class="btn btn-light">Book Ticket</button>
        </li>
        </div>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        
        <div class="card-body">
          <h5 class="card-title">Premium Tickets</h5>
          <p class="card-text">Approx. 53€ Day / 166€ Weekend (all three days) </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">	Guaranteed seating close to the stage</li>
          <li class="list-group-item">	Premium attendee badge </li>
          <li class="list-group-item">Access to IEM Expo</li>
        </ul>
        <div class="card-body">
          <li (click)="onSelect()">
            <button type="button" class="btn btn-light">Book Ticket</button>
        </li>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        
        <div class="card-body">
          <h5 class="card-title">God Mode</h5>
          <p class="card-text">Approx. 1169€ (all three days) </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">VIP area access with catering</li>
          <li class="list-group-item">Premium attendee badge </li>
          <li class="list-group-item">Access to IEM Expo </li>
        </ul>
        <div class="card-body">
          <li (click)="onSelect()">
            <button type="button" class="btn btn-light">Book Ticket</button>
        </li>
        </div>
      </div>
    </div>
  </div>
</div>
<hr >


<div class="container">
  <div class="row">
      <div class="col-4">
          <img class="mx-auto d-block" src="https://www.intelextrememasters.com/season-14/katowice/wp-content/uploads/2019/10/Venue-map-spodek-768x749.png">  
      </div>
  </div>
</div>