/*table {
    border-spacing: 5px;
    color: rgb(25, 240, 79);
    page-break-after: auto;
    padding: 10px;
  }
  table tr:nth-child(even) {
    background-color: rgb(209, 14, 24);
  }
  table tr:nth-child(odd) {
    background-color:rgb(25, 0, 255);
  }*/